/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: block;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1200px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* Page nav bar tabs starts*/
#page-nav {
	margin:0;padding:0;
    width:100%;
    display:table;
    table-layout:fixed;
    background-color:#fcfcfc;
    list-style-type:none;
    border-collapse: collapse;
    border:1px solid #6d7fcc;
}
#page-nav > li {
    display: table-cell;
    text-align:center;
    vertical-align:middle;
    border-bottom:3px solid #6d7fcc;
    padding:20px 0;margin:0;
}
#page-nav > li:focus, #page-nav li.active {
    background-color:#FFF;
	border-bottom:3px solid #007fff;
}
#page-nav > li > a {
	color:#303030;
	text-decoration:none;
	display:block;
}
#page-nav > li > a:focus, #page-nav li.active a  {
	color:#007fff;
}
.page-active {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Page nav bar tabs ends*/

/* Carousel starts */
#galery-owl .owl-item .galery-item {
  opacity: 0.5;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s transform, 0.6s opacity;
  transition: 0.6s transform, 0.6s opacity, 0.6s -webkit-transform;
}

#galery-owl.owl-theme .owl-item.active+.owl-item .galery-item {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#galery-owl.owl-theme .owl-item.active .galery-item {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#galery-owl.owl-theme .owl-nav {
  margin-top: 0px;
}

#galery-owl.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background:rgba(0,0,0,0.6);
  color: #FFF;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 60px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
#galery-owl h3 {
	margin-top:0;
	margin-bottom:0.5em;
	padding:0.25em;
}
#galery-owl.owl-theme .owl-prev {
  left: 15px;
}

#galery-owl.owl-theme .owl-next {
  right: 15px;
}

@media (max-width: 1200px) {
    #galery-owl.owl-theme .owl-nav [class*='owl-'] {
	  width: 60px;
	  height: 60px;
	  line-height: 60px;
	  font-size: 60px;
	  border-radius: 50%;
	  padding: 0;
	  margin: 0;
	}
}
/* Carousel ends */