* {
    box-sizing: border-box;
}

#sub select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    background: transparent; 
    border-radius: 4px;
    resize: vertical;
    font-size: 14px

}

#sub select{
    border-bottom: 1px solid blue;
}

label {
    padding: 12px 12px 12px 5px;
    display: inline-block;
    font-size: 15px;

}

.col-75 label{
    padding: 12px 12px 2px 5px;
    display: inline-block;
    font-size: 13px;
    font-weight: normal !important;

    border-bottom: 1px solid gray;    
}

#Criteria label{
    padding: 12px 12px 2px 5px;
    display: inline-block;
    font-size: 15px;
    font-weight: normal !important;

}



.panel-default{
    background: transparent;
    border:none;
}

#sub input[type="text"]{
    width: 100%;
    padding:12px;
    border: none;
    border-bottom: 1px solid gray;
    background : transparent;
    outline: none;
    height: 35px;
    display: block;
    color: black;
    font-size: 14px;
    margin-bottom: 15px;

    }

#criteria{
    line-height: 2;
    font-size: 1.6px;

}

#submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:5px; 
    margin-left: 25%;
    margin-top: 10px;    
    font-size: 15px;
    
}



#submit-button-criteria {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
     
    font-size: 15px;
    
}

button:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    width: 100%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, button {
        width: 100%;
        margin-top: 0;
    }
}


li.disabled {
    opacity:0.2;
    pointer-events:none;
}