/* Page nav bar tabs starts*/
#page-nav {
  margin:0;padding:0;
    width:100%;
    display:table;
    table-layout:fixed;
    background-color:#fcfcfc;
    list-style-type:none;
    border-collapse: collapse;
    border:1px solid #6d7fcc;
}
#page-nav > li {
    display: table-cell;
    text-align:center;
    vertical-align:middle;
    border-bottom:5px solid;
    border-color:#c5c5c5;
    padding:20px 0;margin:0;
    transition:background-color 0.5s linear, border-color 0.5s linear;
    -webkit-transition:background-color 0.5s linear, border-color 0.5s linear;
    -moz-transition:background-color 0.5s linear, border-color 0.5s linear;
    -ms-transition:background-color 0.5s linear, border-color 0.5s linear;
    -o-transition:background-color 0.5s linear, border-color 0.5s linear;
}
#page-nav > li:focus, #page-nav li.active {
    background-color:#FFF;
    border-color:#007fff;
}
#page-nav > li > a {
  color:#303030;
  text-decoration:none;
  display:block;
  transition:color 0.5s linear;
  -webkit-transition:color 0.5s linear;
  -moz-transition:color 0.5s linear;
  -ms-transition:color 0.5s linear;
  -o-transition:color 0.5s linear;
}
#page-nav > li > a:focus, #page-nav li.active a  {
  color:#007fff;
}
.page-active {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
li.disabled {
    opacity:0.2;
    pointer-events:none;
}
.alert * {
    color:#FFF;
}
.form-group .row > div {
    padding-bottom:0.5em;
}
/* Page nav bar tabs ends*/